################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ControleFuncionarioApp/.vs/ControleFuncionarioApp/v15/Server/sqlite3
/ControleFuncionarioApp/.vs/ControleFuncionarioApp/DesignTimeBuild
